body {
  padding: 50px 50px;
}

li {
  font-size: 24px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 25px;
}

.table {
  margin-bottom: 50px;
  width: 50%;
  border-collapse: collapse;
  /* border: 1px solid black; */
}

tr,
td,
th {
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}
th {
  background-color: rgb(235, 237, 252);
}

tbody:nth-child(2n + 1) {
  background-color: rgb(251, 253, 249);
}
